.panel.panel-default
  .panel-heading
    %h3.panel-title= title

  %table.table.table-hover.orders-table
    %thead
      %tr
        %th Price
        %th= market.source.name
        %th= market.target.name
    %tbody
      - orders.each do |order|
        %tr
          %td= order.price
          %td= order.amount
          %td= order.price * order.amount