.col-sm-3.col-md-2.sidebar

  // exchanges
  %h4 Exchanges
  %ul.nav.nav-sidebar
    - Exchange.all.each do |exchange|
      %li{ class: ( 'active' if current_exchange == exchange) }
        = link_to exchange.name, exchange_path(id: exchange, market: current_market)


  // markets
  %h4 Markets
  %ul.nav.nav-sidebar
    - if current_exchange.nil?
      - Market.all.each do |market|
        %li{ class: ( 'active' if current_market == market) }
          = link_to market_path(market), { class: 'list-group-item' } do
            .row
              .col-md-6= market.name
              .col-md-6= market.current_value.round(4)

    - else
      - current_exchange.exchange_markets.each do |exchange_market|
        %li{ class: ( 'active' if current_market == exchange_market.market) }
          = link_to exchange_path(id: current_exchange, market: exchange_market.market), { class: 'list-group-item' } do
            .row
              .col-md-6= exchange_market.market.name
              .col-md-6= exchange_market.current_value.round(4)