%table.table.table-hover.orders-table
  %thead
    %th Price
    %th= market.source.code.upcase
    %th= market.target.code.upcase
  %tbody
    - orders.each do |order|
      %tr
        %td= order.price
        %td= order.amount
        %td= order.price * order.amount