%nav.navbar.navbar-default{ role: 'navigation' }
  .container
    %p.navbar-text.navbar-right= "&copy; #{Time.new.year} Kevin Pheasey".html_safe

:javascript
  jQuery(function() {
    if (typeof $App === 'undefined') {
        window.$App = new (App.#{controller_name.split('_').map(&:capitalize).join('')} || App.Base)(#{@bootstrap_data});
    }

    $App.currentExchange = JSON.parse('#{current_exchange.to_json}')
    $App.currentMarket = JSON.parse('#{current_market.to_json}')

    if (typeof $App.#{action_name} === 'function') {
      return $App.#{action_name}.call();
    }
  });