.navbar.navbar-inverse.navbar-fixed-bottom{ role: 'navigation' }
  .navbar-right
    %p.navbar-text &copy; 2014 Kevin Pheasey
:javascript
  jQuery(function() {
    window.$this = new (App.#{controller_name.split('_').map(&:capitalize).join('')} || App.Base)(#{@bootstrap_data});

    $this.currentExchange = JSON.parse('#{current_exchange.to_json}')
    $this.currentMarket = JSON.parse('#{current_market.to_json}')

    if (typeof $this.#{action_name} === 'function') {
      return $this.#{action_name}.call();
    }
  });