.col-md-2.sidebar.hidden-xs

  // exchanges
  %h4 Exchanges
  %ul.nav.nav-sidebar
    - Exchange.active.each do |exchange|
      %li{ class: ('active' if current_exchange == exchange) }
        - if exchange.markets.include? current_market
          - trading_floor_link = trading_floor_path(exchange: exchange, market: current_market)
        - else
          - trading_floor_link = trading_floor_path(exchange: exchange, market: exchange.default_market)

        = link_to trading_floor_link do
          .row
            .col-md-6= exchange.name
            .col-md-6
              - current_value = current_market.current_value(exchange)
              - unless current_value.nil?
                = current_value.round(6)

  // markets
  %h4 Markets
  %ul.nav.nav-sidebar
    - current_exchange.markets.each do |market|
      %li{ class: ( 'active' if current_market == market) }
        = link_to trading_floor_path(exchange: current_exchange, market: market), { class: 'list-group-item' } do
          .row
            .col-md-6= market.name
            .col-md-6
              - current_value = market.current_value(current_exchange)
              - unless current_value.nil?
                = current_value.round(6)