- content_for :content do
  .row
    = render 'layouts/trading_floor_side_navigation'

    .col-xs-12.col-sm-10.col-sm-offset-2.main

      = render partial: 'shared/flash_messages'

      = content_for?(:trading_floor_content) ? yield(:trading_floor_content) : yield

      = debug(params) if Rails.env.development?

= render template: 'layouts/application'