!!!
%html
  %head
    %title= full_title(yield(:title)).html_safe
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ src: 'https://www.google.com/jsapi' }
    = csrf_meta_tags

  %body
    = render 'layouts/header'

    #main.container
      .container-fluid
        .row
          = render 'layouts/exchange_market_side_navigation'
          .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main

            - flash.each do |key, value|
              .alert{ class: "alert-#{key}" }= value

            = yield

            = debug(params) if Rails.env.development?

    = render 'layouts/footer'